* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.6;
    background: #fefefe;
}

h1 {
    background: #444545;
    color: #fff;
    padding: 0.75rem 0.5rem;
    text-shadow: 2px 2px 1px #111;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #444;
}

p {
    margin: 1rem 0;
}

button,
a.button {
    display: inline-block;
    height: 3.8rem;
    margin: 0 0 1rem;
    padding: 0 1.5rem;
    background: #fafafa;
    border: 0.1rem solid #a6a6a6;
    border-radius: 0.2rem;
    font-size: 1.6rem;
    line-height: 3.8rem;
    color: #333;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);
    text-decoration: none;
    outline: none;
}

button.delete {
    background: #C80815;
    color: #fafafa;
    text-shadow: none;
}

header .button {
    display: block;
    height: 2rem;
    line-height: 1rem;
    padding: .3rem;
    position: absolute;
    top: .8rem;
    min-width: 2rem;
}
header .back {
    left: .5rem;
}
header .opt {
    right: .5rem;
}

#welcome > section,
#add > section {
    padding: 0 1rem;
}

#keys-index meter {
    display: block;
    height: .3rem;
    width: 100%;
}

#accounts {
    height: 100%;
    line-height: 1;
    margin-top: .3rem;
    overflow-y: scroll;
    text-align: center;
}

#accounts li {
    border-bottom: 1px solid #444;
    padding: 1em;
    position: relative;
}

#accounts .name {
    font-size: 80%;
}
#accounts .num {
    display: block;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 4px;
}
#accounts .opt {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: .8rem;
    color: #333;
    text-decoration: none;
}

#add input[type=text] {
    display: block;
    font-size: 1.6rem;
    width: 100%;
}

#keytype {
    display: block;
    width: 100%;
}
#keytype label {
    margin: .5em;
}

#key-edit ul {
    height: 100%;
    line-height: 1;
    margin-top: 1rem;
    overflow-y: scroll;
    text-align: center;
}

#key-edit li {
    list-style: none;
    position: relative;
}
