<meter {{bind-attr max=slotsize}} {{bind-attr value=inTimeslot}}></meter>

<ul id="accounts">
  {{#each model}}
    <li>
      <span class="num">{{token}}</span>
      <span class="name">{{name}}</span>
    </li>
  {{/each}}
</ul>
