<h2>Welcome to Firekey!</h2>
<p>This is a simple "authenticator" app that allows you to generate 2-factor auth tokens for services using the <a href="http://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm" target="_blank">TOTP standard</a>, for example Google or GitHub.</p>
<p>Get started by adding an account.</p>
{{#link-to 'add' class='button'}}Add account{{/link-to}}
